@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="content-fluid">
        <div class="panelIni">
            <h1>Start selling Gift Cards now!</h1>
            <h5>Deals made easy all year round. Only at G2G Marketplace.</h5>
            <button class="btn btn-principal">Start selling</button>
            <button class="btn btn-principal-white">Find great deals</button>
        </div>

        <div class="container">
            <div class="row text-center">
                <div class="col-1 wBox">
                    <div class="boxColor" style="background-color: rgb(111, 185, 53); margin-left: 30px; "></div>
                    <span>Game Top Up</span>
                </div>
                <div class="col-1 wBox">
                    <div class="boxColor" style="background-color: rgb(46, 189, 181); margin-left: 30px;"></div>
                    <span>Gift Card</span>
                </div>
                <div class="col-1 wBox">
                    <div class="boxColor" style="background-color: rgb(57, 187, 216); margin-left: 30px;"></div>
                    <span>Video Games</span>
                </div>
                <div class="col-1 wBox">
                    <div class="boxColor" style="background-color: rgb(246, 133, 0); margin-left: 30px;"></div>
                    <span>Software</span>
                </div>
                <div class="col-1 wBox">
                    <div class="boxColor" style="background-color: rgb(240, 95, 129); margin-left: 30px;"></div>
                    <span>Game Coins</span>
                </div>
                <div class="col-1 wBox">
                    <div class="boxColor" style="background-color: rgb(119, 116, 255); margin-left: 30px;"></div>
                    <span>Items</span>
                </div>
                <div class="col-1 wBox">
                    <div class="boxColor" style="background-color: rgb(48, 146, 235); margin-left: 30px;"></div>
                    <span>Accounts</span>
                </div>
                <div class="col-1 wBox">
                    <div class="boxColor" style="background-color: rgb(255, 198, 0); margin-left: 30px;"></div>
                    <span>GamePal</span>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top:75px;">
            <div class="text-center">
                <h4>Browsing History</h4>
            </div>
        </div>


    </div>



</main>